/* font-family: 'Alkalami', serif; */
/* font-family: 'Gemunu Libre', sans-serif; */
/* font-family: 'Teko', sans-serif; */

/* css reset */

* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* css var */
:root {
    --navh: 59px
}

/* nav bar */
#navbar {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    position: relative;
}

#navbar::before {
    content: "";
    background-color: rgb(83, 75, 75);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

/* logo, img */
#logo {
    margin: 7px 9px;

}

#logo img {
    margin: 7px 9px;
    height: 5rem;
}

/* list style */
#navbar ul {
    display: flex;
    font-family: 'Teko', sans-serif;

}

#navbar ul li {
    font-size: 1.5rem;
    list-style: none;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 7px 20px;
    border-radius: 7px;
}

#navbar ul li a:hover {
    color: black;
    background-color: wheat;
}

/* main */
/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 21.8rem;
    margin-bottom: 130px;
}

#home::before {
    content: "";
    background: url("images/bg1.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;

}

#home p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gemunu Libre', sans-serif;
}

/* Services center */
#services {
    margin: 1rem auto;
    display: flex;
}
.services-container h1{
    color: black;

}
#services .box {
    border: 2px solid brown;
    margin: 5px;
    padding: 25px;
    border-radius: 26px;
    background-color: rgb(211, 246, 246);
    transition: all 1s ease-in-out ;
}

#services .box img{
    height: 126px;
    margin: auto;
    display: block;
}

#services .box p{
    text-align: justify;
    font-family: 'Gemunu Libre', sans-serif;

}

#services .box:hover{
    box-shadow: -7px -7px 7px black;
}

/* client section */

#client-wale{
    height: 400px;
}
#client::before{
    content: "";
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 20rem;
    opacity: 0.4;
}
#client{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
#client img{
    height: 120px;
}
.client-item{
    padding: 30px;
    margin: 30px;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('images/contact.jpg') no-repeat center center/cover; 
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    box-shadow: none;
}
#contact-box textarea{
    min-height: 40px;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Teko', sans-serif;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/* utility classes*/
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Gemunu Libre', sans-serif;
}

.h-secondary {
    font-size: 1.3rem;
    padding: 12px;
    font-family: 'Gemunu Libre', sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 17px;
    border-radius: 13px;
    cursor: pointer;
}

.center {
    text-align: center;
}